<%- include('header') -%>

<%- include('navbar') -%>

<style>
    body{
        background-color: steelblue;
        color: whitesmoke;
    }

    h2{
        font-weight: 500;
        font-size: 48px;
    }

    footer{
        color: steelblue;
        background-color: whitesmoke;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        text-align: center;
    }
</style>

<div role="main" class="container">
    <br /> <br />
    <h2>This is my homepage!</h2>
</div>

<%- include('footer') -%>